.principalContent {
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    margin-top: 8rem;

    form {
        display: flex;
        flex-direction: column;

        padding: 2rem;
        font-weight: 500;

        border-radius: 8px;
        border: 4px solid var(--green-300);
        background: #fff;

        gap: 1rem;

        h2 {
            font-size: 1.4rem;
            font-weight: 600;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;

            border-radius: 8px;

            legend {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }

        label {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: .6rem;
        }

        input {
            width: 18rem;
            height: 2rem;
            padding: .6rem;
        }

        button {
            width: 8rem;
            height: 2.4rem;
            align-self: flex-end;

            color: var(--gray-100);
            font-weight: 500;

            border: none;
            border-radius: 8px;

            background: var(--green-300);
            transition: background 300ms;
        }

        button:hover {
            background: var(--green-500);
        }
    }
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.invoiceCard {
    border: 2px solid var(--green-300);
    border-radius: 8px;
    padding: 1rem;

    background: #fff;
    width: 26rem;

    display: flex;
    flex-direction: column;
    gap: .4rem;

    p {
        margin: 0;
        font-size: .95rem;
    }
}

.payButton {
    margin-top: .6rem;
    width: 8rem;
    height: 2.2rem;

    border: none;
    border-radius: 8px;
    color: #fff;

    align-self: flex-end;

    background: var(--green-300);
    transition: .3s;
}

.payButton:hover {
    background: var(--green-500);
}